
body{
	background: url(../images/im4.jpg) fixed;

}

img {
	border-radius: 20px;
	width: 90px; 
	border:solid 1px black;

}

header {

	background-color: gray;
	height: 110px;
	
	
}
footer {
	text-align:center;
	background-color: gray;
	height : 50px;
}

section{
	margin-left:10px;
	height: 200px;
}

#name{
	
	width:30%;
	margin-left: 10px;
	margin-top: -20px;
}

#img{

	width:30%;
	margin-left : 65%;
	margin-top: -100px;
}



#haut{
	background-color: whitesmoke;
	border-radius: 5px;
	border: 1px black solid;
	width:90%;
	height: 45px;
	margin-left: 5%;
	margin-top:5%;
}

#hautAdmin {
	background-color: whitesmoke;
	border-radius: 5px;
	border: 1px black solid;
	width: 70%;
	height: 35px;
	margin-left: 15%;
	margin-top: 5%;
}

#milieu{
	background-color: whitesmoke;
	border-radius: 5px;
	border: 1px black solid;
	width:60%;
	height: 800px;
	margin-left: 20%;
	margin-top:50px;
}

#milieuForm{
	background-color: whitesmoke;
	border-radius: 5px;
	border: 1px black solid;
	width:30%;
	height: 250px;
	margin-left: 35%;
	margin-top:3%;
	text-align: center;
	
}

#formul{
	background-color: whitesmoke;
	border: 1px  black;
	border-radius: 15px;
	width: 60%;
	
	margin-left:20%;
	margin-top: 30px;
	margin-bottom: 5%;
	text-align: center;
	padding-bottom: 10px;
}

#formuls{
	background-color: whitesmoke;
	border: 1px  black;
	border-radius: 15px;
	width: 90%;
	
	margin-left:5%;
	margin-top: 30px;
	margin-bottom: 5%;
	text-align: center;
	padding-bottom: 10px;
}

#milieuAdmin {
	background-color: whitesmoke;
	border-radius: 5px;
	border: 1px black solid;
	width: 70%;
	height: 780px;
	margin-left: 15%;
	margin-top: 3%;
}

#btn-default {
	padding: 10px 16px;
	font-size: 15px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
#btn-danger {
	padding: 10px 16px;
	font-size: 15px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;}

#btn-primary {
	padding: 10px 16px;
	font-size: 15px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;}

#choix{
	margin-left: 70%;
	margin-top: 2px;
}

#btn-primary:hover {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

#btn-danger:hover {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

#btn-default:hover {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

#tromb_style{
	text-align:center;
	border:solid 0px black;
	height:180px ;
	width:200px;
	background-color:silver;
	border-radius:5px;
	position:relative;
	left:0%;
	float:left;
	margin:15px;
}
#list{

	border-radius:5px;
	width:60%;
	align: center;
	background:silver;
}

#form{

	border: 1px  black ;
	border-radius: 15px;
	width: 37%;
	height: 70%;
	margin-left:35%;
	margin-top: 30px;
}

#admin{
	text-align:center;
	border:solid 0px black;
	height:250px ;
	width:200px;
	background-color:silver;
	border-radius:5px;
	position:relative;
	left:0%;
	float:left;
	margin:15px;
}

#img{
	float: left;
	width: 15%;
	height: 15%;
;

}

#identity{

	border: 1px black solid;
	width: 20%;
	height: 30%;
	position: relative;
	float: left;
}